[project]
	description = hyperledger peer 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stan Liberman (stanliberman)
[access "refs/for/refs/*"]
	read = group user/Stan Liberman (stanliberman)
	push = group user/Stan Liberman (stanliberman)
	label-Code-Review = -2..+2 group user/Stan Liberman (stanliberman)
	label-Verified = -1..+1 group user/Stan Liberman (stanliberman)
	rebase = group user/Stan Liberman (stanliberman)
	removeReviewer = group user/Stan Liberman (stanliberman)
	submit = group user/Stan Liberman (stanliberman)
[access "refs/heads/*"]
	read = group user/Stan Liberman (stanliberman)
	create = group user/Stan Liberman (stanliberman)
	push = +force group user/Stan Liberman (stanliberman)
	pushMerge = group user/Stan Liberman (stanliberman)
[access "refs/tags/*"]
	push = +force group user/Stan Liberman (stanliberman)
	pushTag = group user/Stan Liberman (stanliberman)
	pushSignedTag = group user/Stan Liberman (stanliberman)
